section {
  position: relative;
}

section .section-complete {
  position: fixed;
  left: -100vw;
}

section .section-complete + label {
  --circumference: 40px;
  display: block;
  width: var(--circumference);
  height: var(--circumference);
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: transparent;
  transition: all .2s;
}
section .section-complete + label:hover {
  background: hsl(0 0% 100% / .4)
}

section .section-complete:checked + label {
  background: hsl(0 0% 100% / .9);
  color: hsl(158 72% 43%);
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 5px white, inset -2px -2px 3px hsl(0 0% 60%), 2px 2px hsl(0 0% 0% / .3);
  border: none;
}

section.completed {
  font-style: italic;
  color: hsl(0 0% 100% / .8)
}
section.completed h2 {
  font-style: normal;
}
