ul.row-counter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
  list-style-type: none;
  border-top: 1px solid currentColor;
  border-left: 1px solid currentColor;
  padding: 0;
  margin: -1px;
}

.row-counter li {
  padding: 0;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.row-counter input {
  position: fixed;
  top: -100vh;
}
.row-counter label {
  display: block;
  padding: 1em;
  cursor: pointer;
}
.row-counter input[type="checkbox"]:checked + label {
  background: hsl(0 0% 100% / .4)
}
