@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("assets/raleway-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("assets/raleway-v14-latin-700.woff2") format("woff2");
}
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 800;
  src: url("assets/sen-v1-latin-800.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  min-height: 100vh;
  color: #333;
  background: hsl(200, 80%, 90%);
  --light-blue: hsl(200, 80%, 70%);
  --mid-blue: hsl(200, 80%, 50%);
  --dark-blue: hsl(200 80% 20%);
}

h1,
h2,
h3 {
  font-weight: 800;
  font-family: Sen, Raleway, sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-style: italic;
}

a {
  font-weight: bold;
}

section {
  margin-bottom: 3em;
}

.stitch-count {
  font-weight: bold;
}

.round {
  font-weight: bold;
  font-size: 1.2em;
}

.needle {
  font-weight: bold;
}

.multi-round-instructions {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0 1em;
  align-items: center;
}
.multi-round-instructions .round:not(:first-child) {
  margin-bottom: 0.3em;
}
.multi-round-instructions .instruction {
  grid-column: 2;
}

.single-round-instructions {
  display: grid;
  margin-bottom: 1em;
}

.warning {
  color: var(--dark-blue);
  border: 4px solid currentColor;
  border-radius: 10px;
  background: white;
  padding: 1em;
  box-shadow: 2px 2px 4px hsl(0 100% 0% / 0.2);
}
